html{
    background-color: rgb(28, 28, 28);
}
.cabecalio{
    font-size: 30px;
    border-bottom: solid 2px azure;
}
body{
    font-family:  Arial, Helvetica, sans-serif x-large;
}
header{
    padding: 5px;
    text-align: center;
    border-style:solid azure;
    
}
.produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
    align-items: center;
    padding-left: 2%;
    font-size: 16px;
}
.produto {
    border: 10px solid azure;
    background-color: azure;
    text-align: center;
    width: 300PX;
    border-radius: 10%;
    box-shadow: 0 0 20px rgb(93, 196, 161);
}
img{
    background-color: azure;
    width: 60%;
    height: 60%;
}

p{
    color: azure;
}
h1{
    font-size: 40px;
    color: azure;
}
#JP{
    color: aquamarine;
    border: 0px;
}
#preco{
    color: rgb(216, 141, 2) ;
    font-size: xx-large;
    font-family:inherit;
}

button{
    height:30px;
    width: 230px;
    font: 20px aquamarine Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: azure;
    padding: 10px;
    text-align:center;

}

